body{
    font-size: 16px;
    font-family: 'Lato',sans-serif;
}
h1{
    font-size: 300%;
    letter-spacing: 2px;
}
p{
    font-size: 120%;
    letter-spacing: 1px;
}

@font-face{
    font-family : brandfont;
    src: url('../fonts/allages1.ttf');
}

.form, .wrapper{
    margin-top: 10px;
}

/*-----------------------
    Navigation
-----------------------*/

.navbar-default{
    margin-bottom: 0;
}
.navbar-brand{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-family: brandfont;
    font-size: 180%;
}

.navbar-default .navbar-brand{
    color:cornflowerblue;
}

.navbar-icons{
    color: cornflowerblue;
}

.navbar-right{
    padding-right: 50px;
}

/*-----------------------
    Home section
-----------------------*/

.home{
    height: 94.56vh;
    background-image: linear-gradient(rgba(0, 0, 0,0),rgba(100, 149,237,0.8)), url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.hero-div{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 400px;
}
.hero-text{
    color: azure;
    width: 100%;
}

.hero-paragraph{
    display: flex;
    justify-content: center;
    color: azure;
    font-weight: bold;
}
.hero-logo{
    font-family: brandfont;
    font-size: 40px;
}
.hero-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.hero-button button:hover{
    border:1px solid azure;
}

.hero-button button{
    padding: 15px 25px;
    font-size: 140%;
}

/*-----------------------
    Info-box
-----------------------*/

.info-box{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    padding:20px;
    border-radius: 10px;
}

.info-box.fail{
    background-color: #db3441;
}

.info-box.success{
    background-color: #5faa31;
}

.upload-div{
    margin-top: 250px;
}

/*-----------------------
    Images page
-----------------------*/

.images{
    margin-top: 50px;
}

.box{
    box-shadow: 0px 0px 7px cornflowerblue;
    overflow: visible;
    height: 400px;
}

.box:hover{
    box-shadow: 0px 0px 15px cornflowerblue;
}

.image-box{
    height: 320px;
}

.image{
    height: 100%;
    width: 100%;
}

.image-description{
    padding: 5px 10px 0px 10px;
}

.image-link{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 120%;
    float: left;
}

.image-type, .image-date, .image-size{
    font-style: italic;
}

.image-type{
    line-height: 30px;
    font-size: 110%;
}

.image-date{
    clear: both;
    float: left;
    display:inline;
    font-size: 100%;
}

.image-size{
    clear: both;
    float: right;
    font-size: 100%;
    margin-top: -30px;
}